<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructivo 2</title>
</head>
<body>
    <h1>Receta de Pastel de Papa</h1>
    <img src="https://images.getrecipekit.com/20220629164540-pastel-de-papas.jpg?aspect_ratio=4:3&quality=90&" alt="Pastel de papa" width="500" height="250" >
    <p>
        El pastel de papa es un plato tradicional en muchas cocinas de América Latina, especialmente en países como Argentina, Chile y Perú. Consiste en una capa de puré de papa suave y cremoso, que cubre un relleno sabroso, generalmente hecho de carne molida sazonada con cebolla, ajo, pimientos y especias. Algunas versiones incluyen pasas, aceitunas o huevo duro, lo que aporta un toque dulce o salado adicional al relleno. El pastel se hornea hasta que la capa de papa se dora ligeramente, creando una combinación de texturas: crujiente en la superficie y suave por dentro. Es una comida reconfortante y versátil, perfecta para disfrutar en familia.</p>
        <hr>
    <h2>Lista de ingredientes</h2>
    <ul>
        <li>1kg. de papas</li>
        <li>1/2kg. de carne picada de ternera</li>
        <li>1 cebolla</li>
        <li>1/2 pimiento morrón</li>
        <li>2 dientes de ajo</li>
        <li>1 pastilla de caldo</li>
        <li>ajo en polvo</li>
        <li>pimentón</li>
        <li>25g. de manteca</li>
        <li>1 chorrito de leche</li>
        <li>nuez moscada</li>
        <li>aceite</li>
        <li>sal</li>
        <li>pimienta</li>
        <h2>Lista de pasos</h2>
        <ol>
            <li>Cortar las papas en cubos y ponerlas a hervir con sal.</li>
                <li>Picar la cebolla, el ajo y el pimiento morrón.</li>
                <li>Calentar el aceite en una olla o sartén y sofreir la cebolla, el pimiento y los ajos.</li>
                <li>Cuando la cebolla está transparente, agregar la carne y sofreirla mientras se deshace con una cuchara</li>
                <li>Salpimentar, agregar la pastilla de caldo, el ajo en polvo, el pimentón y cocer la carne 15min.</li>
                <li>Una vez que las patatas estén hervidas, hacer en caliente un puré con la manteca y la leche. Salpimentar.</li>
                <li>Poner en una fuente para horno una base de puré, agregar por encima la carne (dejar que se entibie un poco) y colocar otra capa de puré. Para distribuirlo, se moja la cuchara con agua fría.</li>
                <li>Llevar a horno fuerte o gratinador unos 15-20 min. o hasta que la parte de arriba esté crocante.</li>
                <li>Puede agregarse al relleno de carne un huevo picado, olivas verdes picadas o pasas de uva.</li>
            </ol>
            </a>
            <iframe width="500" height="250" src="https://www.youtube.com/embed/XtQsqkNgV9A" title="PASTEL DE PAPAS receta de la abuela MUY FACIL" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <br>
            <a href="/public/views/instructivo1.html">Leer receta de bomba de papa</a>
            <br>
            <a href="https://www.paulinacocina.net/pastel-de-papas/15">Leer esta receta en <strong>Paulina Cocina</strong></a>
            <br>
            <a href="/bombaDePapa.html">Volver a la pagina principal</a>
</body>
</html>