<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructivo</title>
</head>
<body>
    <h1>Receta de Bomba de Papa</h1>
    <p>Las bombas de papa son una deliciosa comida típica de algunas regiones, especialmente en América Latina. Se trata de una especie de croqueta o bollo hecho a base de puré de papa, relleno comúnmente con carne molida, queso o incluso vegetales. Luego se cubren con pan rallado y se fríen hasta obtener una textura crujiente por fuera, mientras el interior se mantiene suave y cremoso. Se pueden acompañar con salsas como mayonesa, alioli, o picante, lo que las hace aún más irresistibles. Son populares como aperitivo, snack o incluso plato principal en algunas comidas casuales.</p>
    <hr>
    <h2>Lista de ingredientes</h2>
    <ul>
        <li>1 kg. papas</li>
            <li>  1 yema</li>
                <li>  1 cda. perejil picado fresco</li>
                    <li>  Sal a gusto pimienta y nuez moscada</li>
                <li>  Para rebozar las bombas</li>
                    <li>   Daditos de queso mozzarella cant. nec</li>
                        <li>  1 huevo más la clara que sobro</li>
                            <li>  Harina 1/2 taza aprox</li>
                                <li>  Pan rallado cant. nec</li>
                                    <li>  Abundante aceite de girasol para freir</li>
    </ul>
    <h2>Lista de pasos</h2>
    <ol>
        <li>Hervir las papas con cáscara en abundante agua salada, hasta que estén bien cocidas.</li>
        <li>Una vez cocidas y con mucho cuidado, pelar las papas dentro de un bol y pisarlas bien con el pisapuré.</li>
        <li>Luego agregar la cucharada de perejil picado (o la hierba que prefieras y tengas), la yema, y condimentar a gusto con la sal, pimienta y nuez moscada recién rallada.</li>
        <li>Dejar enfriar bien el puré en la heladera.</li>
        <li>Colocar en recipientes diferentes la harina, el huevo batido con la clara apenas para que liguen, y el pan rallado.</li>
        <li>acar el puré de la heladera y tomár una porción (como para formar una pelota de tenis pequeña). Ponerla en la palma de la mano y colocar un dadito de mozzarella en el centro, cerrar y formar bien la pelota con las dos manos.</li>
        <li>Luego pasarla por harina, hacer un poco de presión mientras seguimos dando forma y pasamos al huevo batido. Luego la rebozamos en pan rallado, volvemos a pasarla por el huevo batido y nuevamente al pan rallado (siempre haciéndola rodar para que no pierda su forma).</li>
        <li>Seguir el mismo procedimiento hasta terminar con todas las demás.</li>
        <li>Acomodarlas sobre una fuente sin encimar y llevar a la heladera 1 hora o hasta el momento de freírlas.</li>
        <li>Poner en una olla o freidora eléctrica abundante aceite ( debe casi taparlas) y calentar muy bien.</li>
        <li>Ir poniendo las bombas de papa sin amontonar demasiado; solo hasta dorar (no mucho más para no correr el riesgo de que revienten, solo 3 a 4 minutos).</li>
        <li>Sacar con espumadera y dejar escurrir sobre papel absorbente... ¡y servir de inmediato!</li>
    </ol>
    <a href="/public/views/instructico2.html">Leer la receta de Pastel de Papa</a>
    <br>
    <a href="https://cookpad.com/ar/recetas/97519-bombas-de-papa">Leer esta receta en <strong>cookpad</strong></a>
    <br>
    <a href="/bombaDePapa.html">Volver a la pagina principal</a>
</body>
</html>